body {
    background-color: darkcyan;
    color: white;
}

h1 {
    padding-top: 40px;
    text-align: center;
    margin-bottom: 80px;
    font-weight: bold;
}

h2 {
    font-weight: bold;
}



.image {
    width: 100%;
    max-width: 500px;
}


@media (min-width: 992px) {
    .txt {
        text-align: end;
    }

    .top {
        padding-top: 50px;
    }
    .padr {
        padding-right: 80px;
        padding-top: 30px;
    }

    .padl {
        padding-top: 30px;
        padding-left: 80px;
    }

    img {
        height: 550px;
    }
}